[Unit]
Description=Apache NiFi as service
After=network.target

[Service]
Environment=JAVA={{ java_binary }}
Environment=JAVA_HOME={{ java_home }}
Type=forking
User={{ ansible_user }}
Group={{ ansible_user }}
LimitNOFILE=50000
ExecStart={{ nifi.home }}/bin/nifi.sh start
ExecStop={{ nifi.home }}/bin/nifi.sh stop
ExecRestart={{ nifi.home }}/bin/nifi.sh restart
ExecStatus={{ nifi.home }}/bin/nifi.sh status

[Install]
WantedBy=multi-user.target
