---

zookeeper_version: 3.5.5
zookeeper_file: apache-zookeeper-3.5.5.tar.gz
zookeeper_url: https://www-us.apache.org/dist/zookeeper/zookeeper-{{ zookeeper_version }}/{{ zookeeper_file }}
zookeeper_checksum: sha512:4e22df899a83ca3cc15f6d94daadb1a8631fb4108e67b4f56d1f4fcf95f10f89c8ff1fb8a7c84799a3856d8803a8db1e1f2f3fe1b7dc0d6cedf485ef90fd212d
zookeeper_home: /opt/zookeeper-{{ zookeeper_version }}
java_path: /usr/bin/java

client_port: 3181
init_limit: 10
sync_limit: 5
tick_time: 2000
zookeeper_autopurge_purgeInterval: 24
zookeeper_autopurge_snapRetainCount: 30
zookeeper_cluster_ports: "2999:3999"

data_dir: /var/lib/zookeeper
log_dir: /var/log/zookeeper
zookeeper_dir: /opt/zookeeper

# Rolling file appender setttings
zookeeper_rolling_log_file_max_size: 10MB
zookeeper_max_rolling_log_file_count: 10

# List of dict (i.e. {zookeeper_hosts:[{host:,id:},{host:,id:},...]})
#zookeeper_hosts:
#  - host: "{{inventory_hostname}}" # the machine running
#    id: 1
zookeeper_hosts: "
    {%- set ips = [] %}
    {%- for host in groups['zookeeper'] %}
    {{- ips.append(dict(id=loop.index, host=host, ip=hostvars[host]['ansible_host'] )) }}
    {%- endfor %}
    {{- ips -}}"

zookeeper_env:
  ZOO_LOG4J_PROP: INFO,ROLLINGFILE
  ZOO_LOG_DIR: /var/log/zookeeper

# Controls Zookeeper myid generation
zookeeper_force_myid: yes
