---

zookeeper_version: 3.4.14
zookeeper_file: zookeeper-{{ zookeeper_version }}.tar.gz
zookeeper_url: https://www-us.apache.org/dist/zookeeper/zookeeper-{{ zookeeper_version }}/zookeeper-{{ zookeeper_version }}.tar.gz
zookeeper_home: /opt/zookeeper-{{ zookeeper_version }}
java_binary: /usr/bin/java

client_port: 3181
init_limit: 10
sync_limit: 5
tick_time: 2000
zookeeper_autopurge_purgeInterval: 24
zookeeper_autopurge_snapRetainCount: 30
zookeeper_cluster_ports: "2999:3999"

data_dir: /var/lib/zookeeper
log_dir: /var/log/zookeeper
zookeeper_dir: /opt/zookeeper

# Rolling file appender setttings
zookeeper_rolling_log_file_max_size: 10MB
zookeeper_max_rolling_log_file_count: 10

# List of dict (i.e. {zookeeper_hosts:[{host:,id:},{host:,id:},...]})
#zookeeper_hosts:
#  - host: "{{inventory_hostname}}" # the machine running
#    id: 1
zookeeper_hosts: "
    {%- set ips = [] %}
    {%- for host in groups['zookeeper'] %}
    {{- ips.append(dict(id=loop.index, host=host, ip=hostvars[host]['ansible_host'] )) }}
    {%- endfor %}
    {{- ips -}}"

zookeeper_env:
  ZOO_LOG4J_PROP: INFO,ROLLINGFILE
  ZOO_LOG_DIR: /var/log/zookeeper

# Controls Zookeeper myid generation
zookeeper_force_myid: yes

