---

- name: Reboot Raspberry Pi
  shell: sleep 2 && shutdown -r now "Rebooting servers"
  async: 1
  poll: 0
  ignore_errors: true

- name: Restart network manager
  systemd:
    name: network-manager
    state: restarted
