---

- name: Set locale to en_US.UTF-8
  command: echo "en_US.UTF-8 UTF-8" > /etc/locale.gen

- name: Update locale to en_US.UTF-8
  locale_gen:
    name: en_US.UTF-8
    state: present

- name: Set the timezone
  timezone:
    name: "{{ timezone }}"

- name: Change hostname
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  with_items:
    - { src: 'hostname.j2', dest: '/etc/hostname' }
    - { src: 'hosts.j2', dest: '/etc/hosts' }
  notify:
    -  Reboot Raspberry Pi

- name: Set memory swapping to a minimum
  sysctl:
    name: "vm.swappiness"
    value: "1"
  notify:
    - Reload systemctl daemon

- name: Configure soft limit for Maximum File Handles
  pam_limits:
    domain: "*"
    limit_type: soft
    limit_item: nofile
    value: 100000
  notify:
    - Reload systemctl daemon

- name: Configure hard limit for Maximum File Handles
  pam_limits:
    domain: "*"
    limit_type: hard
    limit_item: nofile
    value: 100000
  notify:
    - Reload systemctl daemon

- name: Configure soft limit for Maximum Forked Processes
  pam_limits:
    domain: "*"
    limit_type: soft
    limit_item: nproc
    value: 10000
  notify:
    - Reload systemctl daemon

- name: Configure hard limit for Maximum Forked Processes
  pam_limits:
    domain: "*"
    limit_type: hard
    limit_item: nproc
    value: 10000
  notify:
    - Reload systemctl daemon

- name: Configure limits.d
  lineinfile:
    dest: "/etc/security/limits.d/90-nproc.conf"
    insertafter: EOF
    state: present
    create: yes
    line: "* soft nproc 10000"
    mode: 0644
  notify:
    - Reload systemctl daemon

- name: Update package cache
  apt:
    update_cache: yes
  tags: upgrade

- name: Upgrade packages
  apt:
    upgrade: dist
  tags: upgrade

- name: Install Packages
  apt:
    name:
      - mosh
      - openjdk-8-jdk
    state: present
    update_cache: yes
  tags: packages

- name: Copy temperature utility
  copy:
    src: temp.sh
    dest: "/home/{{ ansible_user }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0744'
    force: yes
