---

- name: Change the user password
  user:
    name: pi
    password: "{{ password }}"
    groups: video
    append: yes

- name: Set authorized key
  authorized_key:
    user: "{{ username }}"
    state: present
    key: "{{ lookup('file', ssh_key_pub) }}"

- name: Add SSH private key
  copy:
    src: ./ssh_keys/id_rsa
    dest: /home/pi/.ssh/id_rsa
    owner: pi
    group: pi
    mode: '0600'
    force: yes
  ignore_errors: true

- name: Copy git configuration
  template:
    src: gitconfig.j2
    dest: /home/pi/.gitconfig
    owner: pi
    group: pi
    mode: '0644'
    force: yes

- name: Create Maven Home Directory
  file:
    path: "{{ item }}"
    owner: pi
    group: pi
    mode: '0744'
    state: directory
  with_items:
    - /home/pi/.m2
    - /mnt/dev/.m2

- name: Copy Maven settings
  copy:
    src: settings.xml
    dest: /home/pi/.m2
    owner: pi
    group: pi
    mode: '0644'
    force: yes
  ignore_errors: true

- name: Set locale to en_US.UTF-8
  command: echo "en_US.UTF-8 UTF-8" > /etc/locale.gen

- name: Update locale to en_US.UTF-8
  locale_gen:
    name: en_US.UTF-8
    state: present

- name: Set the timezone
  timezone:
    name: "{{ timezone }}"

- name: Install Packages
  apt:
    name:
      - git
      - zip
      - unzip
      - ntp
      - tmux
      - fish
      - mosh
      - fortune
      - openjdk-11-jdk
      - openjdk-8-jdk
      - mc
      - ansible
    state: present
    update_cache: yes

- name: Set Java 11 as default
  alternatives:
    name: "{{ item.exe }}"
    link: "/usr/bin/{{ item.exe }}"
    path: "{{ item.path }}/{{ item.exe }}"
  with_items:
    - { path: "{{ java.home }}/bin", exe: 'java' }
    - { path: "{{ java.home }}/bin", exe: 'javac' }
    - { path: "{{ java.home }}/bin", exe: 'jar' }

- name: Install Gradle
  include_tasks: gradle.yml

- name: Install Maven
  include_tasks: maven.yml

- name: Setup WiFi
  template:
    src: wpa_supplicant.conf.j2
    dest: /etc/wpa_supplicant/wpa_supplicant.conf

- name: Upload terminal preferences
  copy:
    src: .bashrc
    dest: /home/pi
    force: yes
  ignore_errors: true

- name: Copy temperature utility
  copy:
    src: temp.sh
    dest: /home/pi
    owner: pi
    group: pi
    mode: '0744'
    force: yes

- name: Remove default motd file
  file:
    path: /etc/motd
    state: absent

- name: Copy motd file
  copy:
    src: 99-fortune
    dest: /etc/update-motd.d
    mode: '0744'
    force: yes

- name: Change hostname
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  with_items:
    - { src: 'hostname.j2', dest: '/etc/hostname' }
    - { src: 'hosts.j2', dest: '/etc/hosts' }
  notify:
    -  Reboot Raspberry Pi

#- name: Install Docker
#  include_tasks: docker.yml

#- name: Install Samba
#  include_tasks: samba.yml

- name: Mount USB Drive
  include_tasks: usb.yml
