---

- name: Change the user password
  user:
    name: pi
    password: "{{ password }}"

- name: Set authorized key
  authorized_key:
    user: "{{ username }}"
    state: present
    key: "{{ lookup('file', ssh_key) }}"

- name: Set locale to en_US.UTF-8
  command: echo "en_US.UTF-8 UTF-8" > /etc/locale.gen

- name: Update locale to en_US.UTF-8
  locale_gen:
    name: en_US.UTF-8
    state: present

- name: Set the timezone
  timezone:
    name: "{{ timezone }}"

- name: Install Packages
  apt:
    name:
      - git
      - zip
      - unzip
      - ntp
      - tmux
      - fish
      - mosh
      - fortune
      - openjdk-11-jdk
      - mc
      - ansible
    state: present
    update_cache: yes

- name: Install Java
  include_tasks: java.yml

- name: Install Gradle
  include_tasks: gradle.yml

- name: Install Maven
  include_tasks: maven.yml

- name: Setup WiFi
  template:
    src: wpa_supplicant.conf.j2
    dest: /etc/wpa_supplicant/wpa_supplicant.conf

- name: Upload terminal preferences
  copy:
    src: .bashrc
    dest: /home/pi
    force: yes
  ignore_errors: true

- name: Copy temperature utility
  copy:
    src: temp.sh
    dest: /home/pi
    owner: pi
    group: pi
    mode: '0744'
    force: yes

- name: Remove default motd file
  file:
    path: /etc/motd
    state: absent

- name: Copy motd file
  copy:
    src: 99-fortune
    dest: /etc/update-motd.d
    mode: '0744'
    force: yes

- name: Change hostname
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  with_items:
    - { src: 'hostname.j2', dest: '/etc/hostname' }
    - { src: 'hosts.j2', dest: '/etc/hosts' }
  notify:
    -  Reboot Raspberry Pi

- name: Install Docker
  include_tasks: docker.yml

- name: Install Samba
  include_tasks: samba.yml
